@import "settings.scss";
@import "reset.scss";

.active {
    background: #fa4a33;
}

.wrap {
    max-width: 1920px;
    margin: 0 auto;
}

.content {
    max-width: 1170px; // todo перенести в переменную!
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.header_top {
    background: black;
    
    &_social {
        display: flex;
                        
        img {
            margin-right: 12px;
            padding-top: 10px;
            padding-bottom: 5px;
            cursor: pointer;
        }
    }

    .header_top_contact {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .contact_skype {
            margin-right: 20px;
            display: flex;
            align-items: center;
        }

        .contact_email {
            display: flex;
            align-items: center;
        }

        a {
            padding-bottom: 5px;
            color: #ffffff;
            font-family: 'ProximaNova';
            font-size: 17px;
            font-family: 'Proxima Nova Semibold';

        }

        img {
            margin-right: 5px
        }
    }
    
}

.logo {
    font-size: 36px;
    padding-left: 45px;
    font-family: 'Montserrat Bold';
    color: #0099ff;

    span {
        color: #3366cc;
    }
}

.header_nav {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 55px;

    .header_nav_menu {
        display: flex;
        align-items: center;

        .small_menu {
            display: none;
        }

        a {
            color: $text_color_header_nav;
            font-size: 20px;
            margin-left: 50px;
            font-family: 'Source Sans Pro Regular'
        }
    }
}

.header_bottom {
    margin: 0 auto;
    text-align: center;
    background-image : url('../img/background_header.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    color: $text_color_header_bottom;
    border-top : 4px solid #009ce3;

    h1 {
        margin-top: 110px;
        margin-bottom: 30px;
        font-size: 80px;
        font-family: 'Montserrat Extra Bold';
    }

    .header_bottom_from {
        background-image: url(/img/vector.png);
        margin: 0 auto;
        height: 82px;
        width: 400px;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h2 {
        color: $text_color_header_bottom_from;
        margin: 0;
        padding-bottom: 10px;
        font-size: 50px;
        font-family: 'Montserrat Extra Bold';
        margin-left: 25px;
    }

    p {
        margin-top: 30px;
        font-size: 38px;
    }

    h3 {
        margin-top: 70px;
        font-size: 36px;
        color: $text_color_header_bottom_contact
    }

    .header_bottom_contact {
        display: flex;
        justify-content: center;
        padding-bottom: 100px;

        .header_bottom_contact_skype {
            display: flex;
            align-items: center;
            color: aliceblue;

            a {
                color: $text_color_header_bottom_contact;
                padding-bottom: 20px;
                font-size: 30px;
                
            }
        }

        .header_bottom_contact_email {
            display: flex;
            align-items: center;
            
        
            a {
                color: aliceblue;
                padding-bottom: 20px;
                font-size: 30px;
            }
        }
               
    }
    
}

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 74px;
    max-width: 1170px;
    margin: 0 auto;

    h2 {
        margin-bottom: 45px;
        font-size: 50px;
        margin-top: 145px;
        font-family: 'Montserrat Extra Bold';
        color: $text_color_header_nav;
    }
}

.about-us_description {
    display: flex;
    color: $text_color_about_us_description;
    font-family: 'Source Sans Pro Bold';
    line-height: 29px;

    .about-us_img {
        display: flex;
        align-items: center
    }

    .about-us_description_wrap {
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .about-us_description_item {
            display: flex;
            align-items: inherit;

            p {
                font-size: 19px;
                margin-bottom: 40px;
            }

            img {
                @include icons;
            }
        }
    }
}

.btn {
    width: 240px;
    height: 55px;
    background: #fa4a33;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: #fedbd6;
    font-size: 20px;
    margin-top: 70px;
    font-family: 'Proxima Nova Regular'
}

.payments {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h2 {
        text-align: center;
        font-size: 50px;
        margin-top: 115px;
        margin-bottom: 85px;
        font-family: 'Montserrat Extra Bold';

       span {
            color: #fa4a33;
        }
    }    
}


.payments_block {
    display: flex;
    justify-content: center;
    max-width: 1170px;
    margin-bottom: 100px;
    align-items: baseline;
    
    .payments_item {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-basis: 100%;
        font-size: 19px;
        font-family: 'Source Sans Pro Bold';
        line-height: 28.13px;
        margin-bottom: 20px;

        img {
            @include icons
        }

        p {
            margin-top: 10px;
            text-align: center;
        }
    }
}



.contact {
    background-image: url("../img/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: $text_color_header_bottom_contact;

    h2 {
        font-size: 50px;
        margin-top: 60px;
        margin-bottom: 50px;
        font-family: 'Montserrat Extra Bold';
        text-align: center;
    }
    
    .contact_item {
        display: flex;
        max-width: 1170px;
        padding-bottom: 50px;
        justify-content: space-between;
        line-height: 28.13px;
        margin: 0 auto;
        
        .contact_icons {
            display: flex;
            align-items: center;
            width: 325px;

            img {
                @include icons;
            }

            a{
                font-size: 19px;
                color: $text_color_header_bottom_contact;
            }

            p {
                font-size: 19px;
            }
        }
    }
}

.faq {
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;

    h2 {
       margin-top:  160px;
       padding-left: 110px;
       font-family: 'Montserrat Extra Bold';
       font-size: 50px;
       color: $text_color_header_nav;
    }

    .faq_item {
        display: flex;
        flex-direction: column;
        padding-bottom: 100px;
        padding-left: 110px;
    }
}

.faq_wrap {
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 30px;
}

.faq_title {
    font-family: 'Source Sans Pro Bold';
    font-size: 30px;
    color: $text_color_about_us_description;
    background-color: #ffffff;
    padding: 0;
    border: none;
    margin-top: 60px;
    outline: none;
    cursor: pointer;
    text-align: start;
    width: 100%;
}

.faq_title::after {
    content: ">";
    font-size: 30px;
    float: right; 
    color: #d1d1d1;
    text-align: end;
    transform:  rotate(90deg);
    padding-left: 20px;
    vertical-align: middle;
   
}

.active::after {
    transform:  rotate(-90deg);
    color: #1b1b1b;
    position: relative;
    top: 20px;
}



.faq_response {
    font-family: 'Source Sans Pro Bold';
    font-size: 19px;
    color: $text_color_about_us_description;
    line-height: 28.13px;
    margin-top: 25px;
    display: none;
    padding-bottom: 35px;
}



.footer {
    background: #1b1b1b;
    justify-content: space-between;

    .content_footer {
        max-width: 1170px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding-top: 115px;
        padding-bottom: 105px;

        .footer_logo {
            color: $text_color_header_bottom_contact;
            font-family: 'Montserrat Bold';
            font-size: 36px;
        }

        .footer_menu {
            

            a {
                font-family: 'Source Sans Pro Regular';
                color: $text_color_header_bottom_contact;
                font-size: 17px;
                margin-left: 35px;
            }
        }

        .footer_contact img {
            margin-left: 25px;
            cursor: pointer;
        }
    }
}

@import "media.scss";






